.movies-list{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 5%;
    width: 100%;
    align-content: center;
}

.movie-card-poster{
    width: 150px;
    height: 200px;
    border-radius: 20px 0 0 20px;
}

.movie-card {
    display: flex;
    background-color: #1b2750;
    border-radius: 20px;
    width: calc(100vw/3 - 5%);
    height: 200px;
    margin: 10px;
}


.movie-title{
    color: #FA8334;
}

.movie-details{
    padding-left: 5%;
}

.card-actions{
    display: flex;
}