@import url('https://fonts.googleapis.com/css?family=Quicksand|Rajdhani|Montserrat&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

html{
  /**050517*/
  background-color: #050517;
  overflow-x: hidden;
  color: white;
}

body{
  font-family: "Montserrat", sans-serif;
}

.btn-action{
  background-color: transparent;
  color: #FA8334;
  border-color: transparent;
  font-family: 'Quicksand';
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.btn-action i{
  padding-right: 10px;
}
